:root {
  --bs-orange-light: #fdf2e9;
  --bs-orange: #e67e22;
  --bs-orange-dark: #cf711f;
}

body {
  font-family: "Raleway", sans-serif;
}

.text-orange {
  color: var(--bs-orange-dark);
}

/* Buttons */

.btn-orange {
  border-color: var(--bs-orange);
  background-color: var(--bs-orange);
}
.btn-outline-orange {
  color: var(--bs-orange);
  border-color: var(--bs-orange);
}

.btn-orange:hover,
.btn-outline-orange:hover {
  background-color: var(--bs-orange-dark);
  border-color: var(--bs-orange-dark);
  color: var(--bs-light);
}

.btn-orange:focus,
.btn-outline-orange:focus {
  box-shadow: 0 0 0 0.25rem rgba(230, 126, 34, 0.5);
}

/* Navbar */

.navbar {
  background-color: var(--bs-orange);
}

.navbar-toggler {
  border-width: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--bs-light);
}

/* Hero Section */

#hero-section {
  background-image: linear-gradient(
    to left bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.hero-container {
  position: relative;
}

.hero__background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Acerca de mí */

.fas {
  color: var(--bs-orange);
  background-color: var(--bs-orange-light);
  border-radius: 50%;
}

/* Repertorio */

#repertorio {
  background-color: var(--bs-orange-light);
}

#repertorio .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  border-radius: 0.75em;
  overflow: hidden;
}

/* Contacto */

#contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
